.task{
    border-bottom: solid 1px #b3c9c1 ;
    border-width: 2px 0 2px 0;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    position: relative;
    align-items: center;
}